In [1]:
import numpy as np
import pandas as pd

import os
pd.set_option('display.max_rows', 10)

In [2]:
data_path = os.path.join('Data','input.txt')
data = pd.read_table(data_path)
data = data.T.reset_index().T.reset_index(drop = True)
data.rename(columns={0:'inputs'},inplace = True)

In [3]:
def StringsToListOfInts(inputs):
    strings = inputs.split(' ')
    integers = [int(integer) for integer in strings]
    return integers

In [4]:
data['integers'] = data['inputs'].apply(lambda inputs: StringsToListOfInts(inputs))
data

,inputs,integers
0,13 23 46 97 206 436 919 1924 3971 8016 15765 3...,"[13, 23, 46, 97, 206, 436, 919, 1924, 3971, 80..."
1,-7 6 44 130 309 672 1404 2864 5712 11113 21082...,"[-7, 6, 44, 130, 309, 672, 1404, 2864, 5712, 1..."
2,-4 10 38 80 136 206 290 388 500 626 766 920 10...,"[-4, 10, 38, 80, 136, 206, 290, 388, 500, 626,..."
3,6 22 45 75 118 191 327 580 1030 1788 3001 4857...,"[6, 22, 45, 75, 118, 191, 327, 580, 1030, 1788..."
4,6 9 3 -13 -36 -44 46 466 1757 5034 12396 27528...,"[6, 9, 3, -13, -36, -44, 46, 466, 1757, 5034, ..."
...,...,...
195,8 13 26 64 158 359 744 1434 2658 4926 9421 188...,"[8, 13, 26, 64, 158, 359, 744, 1434, 2658, 492..."
196,-9 -5 8 27 42 39 21 58 378 1509 4475 11051 241...,"[-9, -5, 8, 27, 42, 39, 21, 58, 378, 1509, 447..."
197,6 4 11 39 99 201 354 566 844 1194 1621 2129 27...,"[6, 4, 11, 39, 99, 201, 354, 566, 844, 1194, 1..."
198,0 -8 -12 4 69 236 599 1312 2617 4909 8893 1591...,"[0, -8, -12, 4, 69, 236, 599, 1312, 2617, 4909..."
199,10 10 16 32 62 110 180 276 402 562 760 1000 12...,"[10, 10, 16, 32, 62, 110, 180, 276, 402, 562, ..."

In [5]:
def GetPrediction(listOfInts:list)->int:
    steps = 0
    dic = {}
    while not all(integer == 0 for integer in listOfInts):
        dic[steps] = listOfInts[-1]
        listOfInts = np.diff(listOfInts)
        steps += 1
    prediction = 0
    for i in range(steps):
        prediction = prediction + dic[steps-1-i]
        pass
    return prediction

In [6]:
data['predictions'] = data['integers'].apply(lambda integers: GetPrediction(integers))
data

,inputs,integers,predictions
0,13 23 46 97 206 436 919 1924 3971 8016 15765 3...,"[13, 23, 46, 97, 206, 436, 919, 1924, 3971, 80...",19316320
1,-7 6 44 130 309 672 1404 2864 5712 11113 21082...,"[-7, 6, 44, 130, 309, 672, 1404, 2864, 5712, 1...",13877188
2,-4 10 38 80 136 206 290 388 500 626 766 920 10...,"[-4, 10, 38, 80, 136, 206, 290, 388, 500, 626,...",3230
3,6 22 45 75 118 191 327 580 1030 1788 3001 4857...,"[6, 22, 45, 75, 118, 191, 327, 580, 1030, 1788...",139467
4,6 9 3 -13 -36 -44 46 466 1757 5034 12396 27528...,"[6, 9, 3, -13, -36, -44, 46, 466, 1757, 5034, ...",5424902
...,...,...,...
195,8 13 26 64 158 359 744 1434 2658 4926 9421 188...,"[8, 13, 26, 64, 158, 359, 744, 1434, 2658, 492...",25025401
196,-9 -5 8 27 42 39 21 58 378 1509 4475 11051 241...,"[-9, -5, 8, 27, 42, 39, 21, 58, 378, 1509, 447...",15270156
197,6 4 11 39 99 201 354 566 844 1194 1621 2129 27...,"[6, 4, 11, 39, 99, 201, 354, 566, 844, 1194, 1...",11829
198,0 -8 -12 4 69 236 599 1312 2617 4909 8893 1591...,"[0, -8, -12, 4, 69, 236, 599, 1312, 2617, 4909...",3950886
199,10 10 16 32 62 110 180 276 402 562 760 1000 12...,"[10, 10, 16, 32, 62, 110, 180, 276, 402, 562, ...",6590

In [7]:
data['predictions'].sum()

2175229206

In [8]:
tester = data['integers'].iloc[2]
def GetPrediction_2(listOfInts:list)->int:
    steps = 0
    dic = {}
    while not all(integer == 0 for integer in listOfInts):
        dic[steps] = listOfInts[0]
        listOfInts = np.diff(listOfInts)
        steps += 1
    prediction = 0
    for i in range(steps):
        prediction = - prediction + dic[steps-1-i]
        pass
    return prediction
GetPrediction_2(tester)

-4

In [9]:
data['predictions_2'] = data['integers'].apply(lambda integers: GetPrediction_2(integers))
data

,inputs,integers,predictions,predictions_2
0,13 23 46 97 206 436 919 1924 3971 8016 15765 3...,"[13, 23, 46, 97, 206, 436, 919, 1924, 3971, 80...",19316320,3
1,-7 6 44 130 309 672 1404 2864 5712 11113 21082...,"[-7, 6, 44, 130, 309, 672, 1404, 2864, 5712, 1...",13877188,-5
2,-4 10 38 80 136 206 290 388 500 626 766 920 10...,"[-4, 10, 38, 80, 136, 206, 290, 388, 500, 626,...",3230,-4
3,6 22 45 75 118 191 327 580 1030 1788 3001 4857...,"[6, 22, 45, 75, 118, 191, 327, 580, 1030, 1788...",139467,-2
4,6 9 3 -13 -36 -44 46 466 1757 5034 12396 27528...,"[6, 9, 3, -13, -36, -44, 46, 466, 1757, 5034, ...",5424902,-1
...,...,...,...,...
195,8 13 26 64 158 359 744 1434 2658 4926 9421 188...,"[8, 13, 26, 64, 158, 359, 744, 1434, 2658, 492...",25025401,5
196,-9 -5 8 27 42 39 21 58 378 1509 4475 11051 241...,"[-9, -5, 8, 27, 42, 39, 21, 58, 378, 1509, 447...",15270156,-4
197,6 4 11 39 99 201 354 566 844 1194 1621 2129 27...,"[6, 4, 11, 39, 99, 201, 354, 566, 844, 1194, 1...",11829,4
198,0 -8 -12 4 69 236 599 1312 2617 4909 8893 1591...,"[0, -8, -12, 4, 69, 236, 599, 1312, 2617, 4909...",3950886,5
199,10 10 16 32 62 110 180 276 402 562 760 1000 12...,"[10, 10, 16, 32, 62, 110, 180, 276, 402, 562, ...",6590,12

In [10]:
data['predictions_2'].sum()

942

In [11]:
import sys
sys.path.append(os.pardir)
from src.HelperFunctions import convert_to_py

convert_to_py('9')

[NbConvertApp] Converting notebook 9.ipynb to script
[NbConvertApp] Writing 0 bytes to 9_raw.txt